@using GamingStore.Contracts
@model GamingStore.ViewModels.Items.CreateItemViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Create a new Item</strong>
            </div>
            <div class="card-body card-block">
                <div class="column">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Item.Title" class="control-label"></label>
                            <input asp-for="Item.Title" class="form-control" required />
                            <span asp-validation-for="Item.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.Description" class="control-label"></label>
                            <input asp-for="Item.Description" class="form-control" required />
                            <span asp-validation-for="Item.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.Brand" class="control-label"></label>
                            <input asp-for="Item.Brand" class="form-control" required />
                            <span asp-validation-for="Item.Brand" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Item.Price)
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                                <input type="text" asp-for="Item.Price" class="form-control" required />
                            </div>
                            <span asp-validation-for="Item.Price" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.CategoryId" class="control-label"></label>
                            <select asp-for="Item.CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                            <span asp-validation-for="Item.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" asp-for="Item.Active" />
                            <label>Active</label>
                        </div>
                        <div>
                            <label class="control-label">Images</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file1" id="file1" aria-describedby="inputGroupFileAddon01" asp-for="File1" required>
                                    <label class="custom-file-label" for="file1">Choose Primary Image</label>
                                    <span asp-validation-for="File1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon02">Image</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file2" id="file2" aria-describedby="inputGroupFileAddon01" asp-for="File2" required>
                                    <label class="custom-file-label" for="file2">Choose 2nd Image</label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon03">Image</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file3" id="file3" aria-describedby="inputGroupFileAddon01" asp-for="File3" required>
                                    <label class="custom-file-label" for="file3">Choose 3rd Image</label>
                                </div>
                            </div>
                            &nbsp;
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" asp-for="PublishItemFlag">
                                <label class="form-check-label">Publish On Twitter</label>
                            </div>
                            <div class="input-group d-flex justify-content-center" style="margin-top: 10%;">
                                <input type="submit" value="Create Item" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
