@*@model GamingStore.ViewModels.Items.ItemViewModel*@
@model GamingStore.Models.Item

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/single_product.css">
</head>
<div class="single_product">
    <div class="container">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li data-image="/@Model.ImageUrl/1.jpg"><img src="/@Model.ImageUrl/1.jpg" alt=""></li>
                    <li data-image="/@Model.ImageUrl/2.jpg"><img src="/@Model.ImageUrl/2.jpg" alt=""></li>
                    <li data-image="/@Model.ImageUrl/3.jpg"><img src="/@Model.ImageUrl/3.jpg" alt=""></li>
                </ul>
            </div>

            <!-- Selected Image -->
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="image_selected"><img src="/@Model.ImageUrl/1.jpg" alt="" style="max-width: 80%"></div>
            </div>

            <!-- Description -->
            <div class="col-lg-5 order-3">
                <div class="product_description">
                    <div class="product_category"> @Html.DisplayFor(c => Model.Category)</div>
                    <div class="product_name">@Model.Title</div>
                    <div class="product_text"><p>@Model.Description</p></div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script src="/js/product_details.js"></script>

}
