@using Microsoft.AspNetCore.Identity
@using GamingStore.Data
@model IEnumerable<GamingStore.Models.Item>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject GamingStoreContext GamingStoreContext

@{
    ViewData["Title"] = "Index";
}

<div>choose brand:</div>
<form asp-controller="Items" asp-action="SearchByBrand">
    @{List<string> brands = new List<string>();}
    @foreach (var item in Model)
    {
        if (!brands.Contains(item.Brand))
        {
            brands.Add(item.Brand);
        }
    }
    @foreach (var brand in brands)
    {
        <input type="checkbox" id="brands" name="brands" value=@brand>
        <label for=@brand>@brand</label><br>
    }
    <input type="submit" value="Search">
</form>

<div class="row" id="toload">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card item-card">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img class="card-img-top item-image" src="/@item.ImageUrl/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title item-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                    </div>
                </a>
            </div>
        </div>
    }

</div>

@section Scripts {
    <script src="~/js/search.js"></script>
}