@using Microsoft.AspNetCore.Identity
@using GamingStore.Data
@model IEnumerable<GamingStore.Models.Item>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject GamingStoreContext GamingStoreContext

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card item-card">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img class="card-img-top item-image" src="@Html.DisplayFor(modelItem => item.ImageUrl)/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title item-title"> @Html.DisplayFor(modelItem => item.Title)</h5>

                    </div>
                </a>
            </div>
        </div>
    }

</div>