@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to N.Y.O Gaming Store!</h1>
    <p>A store that it's all about gaming, video games and pup cultures.</p>
</div>
