@addTagHelper *, Vereyon.Web.FlashMessage
@{
    ViewData["Title"] = "Customer Service";
}
<style>
    /* Always set the map height explicitly to define the size of the div element that contains the map. */
    #map {
        height: 600px;
        width: 760px;
    }
</style>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/contact_styles.css">
</head>
<body>

    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="d-flex flex-lg-row flex-column justify-content-between">

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact_1.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Phone</div>
                                <div class="contact_info_text">+972 54 259 0925</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact_2.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">nyo.gamings@gmail.com</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact_3.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Address</div>
                                <div class="contact_info_text">50 Dizengoff Street, Tel Aviv, IL, Israel</div>
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px; text-align: center">
        <h4 class="col-lg-12">
            Map location:
        </h4>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="store_map" id="map"></div>
        </div>
        <div class="col-lg-2"></div>

    </div>



</body>

@section scripts{
    <script type="text/javascript" src="/js/stores.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ8e0GNYL2ZJLC1g68-2-0Iv-yXGrZkAQ&callback=initMap" type="text/javascript"></script>

}