@using Microsoft.AspNetCore.Identity
@using GamingStore.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject GamingStoreContext GamingStoreContext
<!DOCTYPE html>
<html lang="en" style="font-family: 'Rubik', sans-serif">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamingStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <!---TopBar-->
        <nav style="background-color: #fff!important; margin-bottom: 0!important" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
                        <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z" />
                    </svg>
                    <a href="mailto:support@nyo.com" style="margin-left: 10px">nyo.gamings@gmail.com</a>
                </ul>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Viewer")))
                {
                    <div class="top_bar_contact_item">
                        <a asp-controller="Administration" asp-action="Index">Admin CP</a>
                    </div>
                }
                <ul class="nav">
                    <div class="ml-auto">
                        <partial name="_LoginPartial" />

                    </div>
                </ul>
            </div>
        </nav>
        <!--MainBar-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white  box-shadow mb-3" style="background-color: #edf1f4 !important; margin-bottom: 0 !important">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="card-img-top logo" src="~/images/logo.png" alt="Card image cap" style="width: 300px !important;">
                    </a>
                </ul>
                <ul class="nav">

                    <!--Search-->
                    <div class="ml-auto" style="align-content: center!important">
                        <div class="input-group mb-3">
                            <form asp-controller="Items" asp-action="Search" id="form">
                                <input name="queryTitle" placeholder="Search something..." value=@ViewData["queryTitle"] />
                                <input type="image" class="search-topbar-button btn-primary btn" src="https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png" />
                            </form>
                        </div>
                    </div>
                </ul>

            </div>

        </nav>
        <!--TabBar-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #edf1f4 !important;">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        
                            <ul class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <strong>
                                        <a class="nav-link text-dark" style="margin-right: 100px" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </strong>
                        </li>
                    <li class="nav-item">
                        <strong><a class="nav-link text-dark" style="margin-right: 100px" asp-area="" asp-controller="Items" asp-action="Index">Items</a></strong>
                    </li>
                    <li class="nav-item">
                        <strong> <a class="nav-link text-dark" style="margin-right: 100px" asp-area="" asp-controller="Stores" asp-action="Index">Stores</a></strong>
                    </li>
                    <li class="nav-item">
                        <strong><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></strong>
                    </li>
                        </ul>
                    </div>
                </ul>
                <a href="#" class="nav-link link-dark px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <span class="badge badge-light">4</span>
                </a>
            </div>

        </nav>
    </header>


    <div class="container" style="margin-top: 1%">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Footer-->
    <div style="background: #fafafa; width: 100%; padding-top: 60px; padding-bottom: 60px; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);">
        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <div class="logo">
                                    <canvas id="FooterCanvas" width="300" height="100"></canvas>
                                </div>
                            </div>
                            <div class="footer_title">Got Question? Call Us 24/7</div>
                            <div class="footer_phone">+972 54 259 0925</div>
                            <div class="footer_contact_text">
                                <p>50 Dizengoff Street, Tel Aviv</p>
                                <p>Israel</p>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li>
                                        <a href="https://twitter.com/GamingS48312490">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 offset-lg-1">
                        <div class="footer_column">
                            <div class="footer_title">Find it Fast</div>
                            <ul class="footer_list">
                                @{
                                    var categories = new List<Category>();
                                    categories.AddRange(GamingStoreContext.Category.Select(category => category));

                                    foreach (var category in categories)
                                    {
                                        <li>
                                            <a href="/Items/CategoryItems/@category.Id">@Html.DisplayFor(e => category.Name)</a>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                    </div>

                    <div class=" col-lg-0 offset-lg-1">
                        <div class="footer_column">
                            <div class="footer_title"> Navigation</div>
                            <ul class="footer_list">
                                <li>
                                    <a href="/Stores">Stores</a>
                                </li>
                                <li>
                                    <a href="/Items">Products</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class=" col-lg-2 offset-lg-1">
                        <div class="footer_column">
                            <div class="footer_title">Customer Care</div>
                            <ul class="footer_list">
                                <li>
                                    <a href="/Identity/Account/Manage">My Account</a>
                                </li>
                                <li>
                                    <a href="/Identity/Account/Manage/MyOrders">Order Tracking</a>
                                </li>
                                <li>
                                    <a href="/Home/ContactUs">Customer Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        @*<footer class="border-top footer text-muted" style="background-color: #edf1f4 !important;">
            <div class="container">
                &copy; 2021 - GamingStore - Nitzan Miranda, Ori Bachar and Yuval Amir.
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </footer>*@
        

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/notifyjs/notify.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)

</body>
<script>
    var canvas = document.getElementById("FooterCanvas");
    var ctx = canvas.getContext("2d");
    ctx.font = "35px Arial";
    ctx.fillText("Gaming Store", 0, 40);
</script>

</html>