@model GamingStore.ViewModels.Administration.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/administration/bar_chart_monthly_revenue.css" />
<link rel="stylesheet" href="~/css/administration/pie_chart_category_revenue.css" />

<div>Hello world</div>
