/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



/*********************************
Common
*********************************/
.btn-nyo {
    background: linear-gradient(90deg, rgba(82,113,255,1) 0%, rgba(52,107,182,1) 66%, rgba(53,92,187,1) 91%);
}


/*********************************
Logo style
*********************************/
.logo {
    width: 100%;
}



/*********************************
Category Search
*********************************/
.search-topbar-button {
    background-color: #ffffff;
    max-width: 38px;
    max-height: 38px;
    padding: 7px;
    margin: 0px;
    border: 1px solid #ced4da;
    border-left: none;
    border-radius: 0px;
}
.search-topbar-button:hover {
    background-color: #ffffff;
    max-width: 38px;
    max-height: 38px;
    padding: 7px;
    margin: 0px;
    border: 1px solid #ced4da;
    border-left: none;
    border-radius: 0px;
}

.category-dropdown {
    border-left: none;
    border-right: none;
    padding: 0px;
    margin: 0px;
}

.category-dropdown:hover {
    border: none;
    padding: 0px;
    margin: 0px;
    border: 1px solid #ced4da;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}


/*********************************
Footer
*********************************/

.footer {
    padding-top: 52px;
    padding-bottom: 40px;
}

    .footer .logo_container {
        height: auto;
        margin-top: -10px;
    }

    .footer .logo {
        top: auto;
        -webkit-transform: transform: none;
        -moz-transform: transform: none;
        -ms-transform: transform: none;
        -o-transform: transform: none;
        transform: none;
    }

        .footer .logo a {
            color: #f5f5f7;
        }

.footer_title {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.footer_phone {
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4;
    margin-top: 13px;
}

.footer_contact_text {
    margin-top: 10px;
}

    .footer_contact_text p {
        margin-bottom: 0px;
    }

.footer_social {
    margin-top: 27px;
}

    .footer_social ul li {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #fafafa;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
        margin-right: 16px;
        text-align: center;
    }

        .footer_social ul li i {
            color: #000000;
            line-height: 30px;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

        .footer_social ul li:hover i {
            color: #0e8ce4;
        }

.footer_subtitle {
    font-size: 12px;
    color: #000000;
}

.footer_column ul:first-of-type {
    margin-top: 21px;
}

.footer_column ul {
    margin-top: 7px;
}

.footer_list li {
    margin-bottom: 6px;
}

    .footer_list li a {
        font-size: 12px;
        font-weight: 500;
        color: rgba(0,0,0,0.4);
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .footer_list li a:hover {
            color: #0e8ce4;
        }

.footer_list_2 {
    margin-top: 42px !important;
}

.copyright {
    width: 100%;
    background: #fafafa;
}

.copyright_container {
    width: 100%;
    height: 56px;
}

.copyright_content {
    font-size: 12px;
    color: rgba(0,0,0,0.6);
}

    .copyright_content span {
        font-weight: 500;
    }

.logos {
}

.logos_list li {
    display: inline-block;
    margin-right: 16px;
}

    .logos_list li:last-child {
        margin-right: 0px;
    }



/*********************************
Social Media button
*********************************/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

