@using GamingStore.Contracts
@model GamingStore.ViewModels.Categories.CategoryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Create a new Category</strong>
            </div>
            <div class="card-body card-block">
                <div class="column">
                    <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Category.Name" class="control-label"></label>
                                <input asp-for="Category.Name" class="form-control" required />
                                <span asp-validation-for="Category.Name" class="text-danger"></span>
                            </div>
                        <div class="form-group">
                            <input type="submit" value="Create Category" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
